

.reserve-button{
    margin-top: 40px;
    background-color: $Black;
    color: $Brand;
    border-radius: 8px;
    padding: 14px 40px;
    border: solid 3px rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    &:hover{
        background-color:$neutral01 ;
        color: $Black;
        transform: translate(5px, 2px);

    }
}