.main-section {
    display: flex;
    justify-content: center;
    &__container {
    }

    &__articles {
        max-width: 1040px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33%;
        position: relative;

        & img{
            padding: 10px;
            width: 100%;
            object-fit: cover;
            height: 150px;
        }

        h2 {
            padding: 5px;
        }
        p {
            padding: 5px;
        }
        h5 {
            padding: 10px;
        }
        &-a {
            margin-left: 10px;
        }
        
        &--main {
            height: 300px;
            width: 100%;

            a img {
                width: 100%;
            }
            div {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                padding: 10px;
                color: aquamarine;
                background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 35%, transparent 100%);
                z-index: 1;

                h5 {
                    display: none;
                }

                h2 {
                    display: none;
                }

                p {
                    display: none;
                }

                ul {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 500px) {
    .main-section {
        &__articles {
            max-width: 1040px;
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            background-color: rgb(98, 255, 0);
            position: relative;

            &--main {
                width: 100%;
                a img {
                    width: 100%;
                }
                div {
                    h5 {
                        display: block;
                    }

                    h2 {
                        display: block;
                    }

                    p {
                        display: none;
                    }

                    ul {
                        display: none;
                    }
                }
            }
        }
      
    }
}

@media (min-width: 1000px) {
    .main-section {
        &__item {
            background-color: rgb(255, 0, 217);

            &--main {
                width: 100%;
                a img {
                    width: 100%;
                }
                div {
                    h5 {
                        display: block;
                    }

                    h2 {
                        display: block;
                    }

                    p {
                        display: block;
                    }

                    ul {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .main-section {
        &__item {
            background-color: rgb(49, 16, 238);

            &--main {
                width: 100%;
                a img {
                    width: 100%;
                }
                div {
                    h5 {
                        display: block;
                    }

                    h2 {
                        display: block;
                    }

                    p {
                        display: block;
                    }

                    ul {
                        display: block;
                    }
                }
            }
        }
    }
}

// $fromPhablet: rem(560px)
/* @mixin fromPhablet {
    @media (min-width: 560px) {
        @content;
    }
}
@include fromPhablet {
    &__item {
        background-color: blue;
    }
}
 */
